<div class="text-center btn btn-light">
  <h1>Text</h1>
  <p><%= @text.text %></p>
  <button type="button" class="btn btn-dark"><%= link_to "Dividir palavras", text_divider_path(params[:id]) %>
</div>
